body,
html {
  font-family: "Playfair Display", serif;
  margin: 0;
  height: 100vw;
  overflow: hidden;
}

.panel {
  width: calc(100vw - 250px);
  min-width: calc(100vw - 250px);
  height: 100vh;
  display: inline-flex;
}

.outer-content {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.content {
  transition: 0.7s;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  gap: 0;
}
.pre-panel {
  width: 250px;
  min-width: 250px;
  display: inline-flex;
}

// #region side-bar

.side-bar {
  display: flex;
  flex-direction: column;
  background-color: #ddd;
  height: calc(100vh - 20px);
  width: 20%;
  max-width: 250px;
  position: fixed;
  z-index: 1;
  padding: 10px 0;
}

.menu {
  padding-top: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  //justify-content: space-between;
  align-items: center;
}

.link {
  color: rgba(0, 0, 0, 0.75);
  cursor: pointer;
  font-weight: 600;
  font-size: 1.4rem;
  transition: 0.2s;
}

.link:hover {
  color: #000;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social > .icons {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.social .icon {
  filter: grayscale(0.9);
  transition: 0.3s;
}

.icon:hover {
  filter: none;
}

.icon {
  width: 32px;
  height: 32px;
  position: relative;
}

// #endregion

// #region gallery

.gallery-tab {
  width: 100%;
  z-index: 1;
}

.gallery-images {
  display: grid;
  width: 100%;
  height: calc(100vh - 100px);
}
.gallery-image-small {
  width: calc(100% - 2vw);
  height: auto;
  overflow: hidden;
  position: relative;
  padding:1vw;
}
.gallery-image-small > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 20%;
}

.image-top {
  width: calc(100% - 2vw);
  height: 0;
  position: absolute;
  background: rgba(114, 149, 180, 0.7);
  transition: 0.4s;
  top: calc(100% - 1.7vh);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-more {
  color: #fff;
  border: 1px solid #fff;
  text-transform: uppercase;
  padding: 2px;
  transition: 0.3s;
  cursor: pointer;
}

.image-more:hover {
  color: rgba(114, 149, 180, 0.7);
  background: #fff;
  transform: scale(1.05);
  overflow: hidden;
}

.gallery-image-small:hover > .image-top {
  top: calc(1.3vh);
  height:calc(100% - 3vh); 
}

.gallery-outer {
  max-width: 100vw;
  max-height: 97vh;
  height: 97vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gallery-button {
  height: 100%;
  width: 100%;
  background-color: rgba(114, 149, 180, 0.7);
  color: #fff;
  border: none;
  transition: 0.3s;
  cursor: pointer;
  font-size: 1.3rem;
  font-family: "Playfair Display", serif;
}

.gallery-button:hover {
  color: rgba(114, 149, 180, 0.7);
  background-color: #fff;
}

.gallery-category{
  height: 3vh;
  max-height: 3vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  //padding-top: .4vw;
}

.gallery-category button{
  width: 100%;
  font-family: "Playfair Display", serif;
  background: rgba(114, 149, 180, 0.7);
  padding: .5% 1%;
  color: white;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}

.gallery-list{
  width: calc(100vw - 250px);
  display: flex;
  position:absolute;
  transition: 0.3s;
  justify-content: space-evenly;
}

// #endregion

.modal-fixed {
  width: 100%;
  height: 100%;
  position: fixed;
}

.modal-outer {
  width: calc(100vw - 250px);
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}
.modal-inner {
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.2);
}

.modal-inner > img {
  max-width: 100%;
  height: 80vh;
  object-fit: contain;
  object-position: top;
}

.landing {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.specs {
  font-weight: 800;
  color: #fff;
  font-size: 3.3rem;
  letter-spacing: 3px;
  margin-left: 2vw;
}

.specs > h2 {
  //text-transform: uppercase;
  margin: 0;
  font-weight: 800;
}

.letter {
  transition: 0.3s;
}

.letter-none {
  opacity: 0;
}

.letter-visible {
  opacity: 1;
}

.name {
  margin-right: 2vw;
  text-align: right;
}

.name-text {
  font-size: 3rem;
  text-transform: uppercase;
}

.bottom-text {
  font-size: 2rem;
}

// #region Offer Section

.offer {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.2);
  height: 100vh;
  max-height: 100vh;
  position: relative;
}

.offer::before{
  content: " ";
  background: red;
  width:calc((100vw - 250px) / 2);
  height:100vh;
  left: calc((100vw - 250px) / -2);
  background: rgba(255,255,255, 0.2);
background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.2) 100%);
  position: absolute;
}

.offer .offer-section:nth-child(2n + 1) {
  flex-direction: row-reverse;
}

.offer-section {
  display: flex;
  padding: 1vh 2vw;
  max-height: calc(100vh / 4 - 2vh);
  justify-content: space-between;
  align-items: center;
}

.offer-image-container {
  margin-left: 3%;
  height: 70%;
  display: inline-flex;
  gap: 10px;
}

.offer-image {
  transform: rotate(5deg);
  border: 5px white solid;
  max-width: 100%;
  max-height: 100%;
}

.offer-prices {
  border-collapse: collapse;
  border-style: hidden;
  font-size: 1rem;
}

.offer-prices td,
.offer-prices th {
  border: 3px solid black;
  padding: 5px;
}

.offer-prices td {
  font-weight: 800;
}

.offer-section-info {
  display: flex;
}

.offer-section-text {
  max-width: 60%;
}

.offer-image-container .second {
  display: none;
}

@media only screen and (min-width: 1300px) {
  .offer-section-text {
    max-width: 40%;
  }
  .offer-image-container {
    height: 90%;
  }
  .offer-image-container .second {
    display: block;
  }
}

// #endregion

// #region Contact Section

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.2);
  height: 100vh;
  max-height: 100vh;
}

.contact-container{
  gap: 1vw;
  color: #eee;
  font-size: 1.1rem;
  background: rgba(72,72,72,0.9);
  padding:2%;
  display: flex;
  flex-direction: row;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact-button{
  margin-top: 5px;
  padding: 5px;
  width: 100%;
  color: #eee;
  background: #567589;
  border: none;
  cursor: pointer;
}

.form-input {
  border: none;
}

.form-label{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-row{
  display: flex;
  flex-direction: row;
  gap:5px;
}

.form-container{
  padding-right: 1vw;
  border-right: 1px solid white;
}

.contact-social{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-social div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact-social a{
  text-decoration: none;
  color: white;
  transition: 0.3s;
  
}

.contact-social div:hover a {
  background-size: 100% 2px;
}

.icon-text{
  background: linear-gradient(#fff, #fff) bottom/0% 2px no-repeat;
  background-position-x: -100%;
}

.contact-icon{
  width: 48px;
  height:48px;
  position: relative;
  margin: 2px;
}
// #endregion
