body {
  margin: 0;
  height: 100vw;
  overflow: hidden;
}

.side-bar {
  display: flex;
  flex-direction: column;
  background-color: #ddd;
  height: 100vh;
  width: 20%;
  max-width: 250px;
  position: fixed;
  z-index: 1;
}

.panel {
  width: calc(100vw - 250px);
  min-width: calc(100vw - 250px);
  height: 100vh;  
  display: inline-flex;
}

.outer-content{
  position:absolute;
  width:100vw;
  height:100vh;
}

.content {
  transition: .7s;
  display:flex;
  position: absolute;
  top: 0;
  left:0;
  gap:0;
}
.pre-panel{
  width:250px;
  min-width:250px;
  display:inline-flex;
}

.black{
  background: black;
}
.red{
  background: red;
}

.contact{
  background: rgba(0,0,0,0.2)
}